div id=sidebar
    div class=logo
        img src=webassetslogo.png alt=ERP Logo
        h2CONSUPABASE ERPh2
    div

    ul class=menu
        li onclick=navigate('webindex.html')🏠 Dashboardli
        li onclick=navigate('webproductosproductos.html')📦 Productosli
        li onclick=navigate('webcontactoscontactos.html')👥 Contactosli
        li onclick=navigate('webinventarioinventario.html')📊 Inventarioli
        li onclick=navigate('webreportesreportes.html')📈 Reportesli
        li onclick=navigate('webusuariosusuarios.html')🔐 Usuariosli
    ul
div
